# Ignore everything inside build, bin, and obj folders anywhere they exist
**/bin/
**/obj/
**/[Bb]in/
**/[Oo]bj/

# Ignore compiled executables and system configuration files
**/*.exe
**/*.dll
**/*.pdb
**/*.suo
**/*.user
**/.vs/
**/.vscode/

# Ignore heavy media and document files cluttering your days
**/*.zip
**/*.docx
**/*.pdf

VSCode-win32-x64-1.129.1/

